@import url('brand.css');

.flagimage {
    width: 16px;
    margin-right: 7px;
}

.combo-button {
    float: right;
    margin-top: 13px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 0;
    align-items: center;
    /* padding: 5px 10px; */
    display: inline-flex; /* Ensures the button content is inline and flexible */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Vertically align the image and text */
}

.combo-button span {
    display: inline-flex; /* Make span use flexbox */
    align-items: center; /* Vertically align image and text */
}